body {
     padding: 10%;
}
h1 {
     font-family: Arial, Helvetica, sans-serif;
}
#section {
     margin: 0;
     padding: 10px;
     display: inline-block;
}
#container {
     margin: 0;
     padding: 10px;
     display: inline-block;
}
#row {
     margin: 0;
     padding: 10px;
     display: inline-block;
}