<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <meta charset="utf-8" />
    <meta
      name="Terence M. Stone's Portfolio"
      content="A site designed to present my full-stack talents."
    />
    <title>My Portfolio | about</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <script
      src="https://code.jquery.com/jquery-3.4.0.min.js"
      integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg="
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,400;0,900;1,400&display=swap"
      rel="stylesheet"
    />
    <script src="{{ url_for('static', filename='main.js') }}"></script>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <div id="nav"></div>
        <h1>Experience & Skills</h1>
      </div>
      <div class="section">
        <p>
          When I began my journey as a Computer Science Educator and freelance
          developer, I have completed projects for entrepreneurs, government
          clients, and collaborated with talented people to create products for
          businesses and the consumer.
        </p>
        <p>
          I used my creativity and drive to solve problems that deliver software
          solutions to business problems that meet my customers needs. I used
          back-end and front-end technologies to create small and medium web
          apps, features and coding interactive layouts.
        </p>
        <p>
          As a full-stack developer, I used the following popular technologies
          to create solutions: Django, Flask, MongoDB, ReactJS and WordPress.
        </p>
        <p>
          Visit my <a href="#">Linkedin</a> profile, <a href="">GitHub</a>,
          online <a href="https://bit.ly/TSFullStackRes">resume</a> or
          <a href="/contact">Contact</a>
          me.
        </p>
        <div class="card" style="width: 18rem">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
          </div>
        </div>
        <div class="card" style="width: 18rem">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
          </div>
        </div>
      </div>
      <div id="footer"></div>
    </div>
  </body>
  <script
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"
  ></script>
  <script
    type="module"
    src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
  ></script>
</html>
