<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-12 center">
        <p>&copy; 2021 Terence M. Stone | <a href="/projects">Portfolio</a></p>
      </div>
    </div>
    <ul>
      <li class="list-inline-item md-3">
        <a
          href="https://linkedin/in/terencemstone"
          class="text-decoration-none"
        >
          <ion-icon name="logo-linkedin"></ion-icon>
        </a>
      </li>
      <li class="list-inline-item md-3">
        <a href="https://github.com/tmstone" class="text-decoration-none">
          <ion-icon name="logo-octocat"></ion-icon>
        </a>
      </li>
      <li class="list-inline-item md-3">
        <a href="https://twitter.com/taegot" class="text-decoration-none">
          <ion-icon name="logo-twitter"></ion-icon>
        </a>
      </li>
      <li class="list-inline-item md-3">
        <a href="/contact" class="text-decoration-none">
          <ion-icon name="mail-sharp"></ion-icon>
        </a>
      </li>
    </ul>
  </div>
</footer>
