<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <!--a class="navbar-brand" href="/">TS</a-->
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/"
            >Home <span class="sr-only">(current)</span></a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">Experience</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/projects">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact">Contact</a>
        </li>
        <!--social media icons-->
        <li class="nav-item">
          <a href="https://linkedin.com/in/terencemstone">
            <ion-icon name="logo-linkedin"></ion-icon>
          </a>
        </li>
        <li class="nav-item">
          <a href="https://github.com/tmstone" class="text-decoration-none">
            <ion-icon name="logo-octocat"></ion-icon>
          </a>
        </li>
        <li class="nav-item"></li>
        <li class="list-inline-item md-3">
          <a href="https://twitter.com/taegot" class="text-decoration-none">
            <ion-icon name="logo-twitter"></ion-icon>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
